* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-bottom: 8vh;
}

h1 {
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
    font-size: 3rem;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.4rem;
}

nav a {
    text-decoration: none;
    color: inherit;
}
nav a:visited {
    color: inherit;
}
nav a:hover {
    text-decoration: underline;
}